// Ideas from Slidecraft 101: Colors and Fonts
// https://emilhvitfeldt.com/post/slidecraft-colors-fonts/
/*-- scss:defaults --*/
// NOAA colors from 2023 Fisheries Palette
// Check contrast: https://colourcontrast.cc/
// define colors
$theme-background: #e9f3f6;
$theme-whale-gray: #323C46;
$theme-midnight-sky: #001743;
$theme-twilight-sky: #002364;
$theme-noaa-sky: #003087;
$theme-noaa-sea: #0085CA;
$theme-pale-sea: #C6E6F0;
$theme-dove-gray: #A5AAAF;
$theme-posit-orange: #ED5E2B;
$theme-moby-blue: #1D63ED;
$theme-black: #000000;

// Get fonts: https://fonts.google.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

// define theme colors
$body-bg: $theme-background;
$body-color: $theme-whale-gray;
$link-color: $theme-noaa-sea;
$headings-color: $theme-midnight-sky;

// define theme fonts
$font-family-sans-serif: 'Montserrat', sans-serif;
$heading-font: 'Roboto Serif', serif;
$heading-font-weight: 400;
$h1-font-size: 2em;

/*-- scss:rules --*/

.blue {
  color: $theme-noaa-sky;
  font-weight: bold;
}

.bg {
  color: $theme-background;
}

.moby-blue {
  color: #1D63ED;
  font-weight: bold;
}

.hide-text {
    color: $theme-dove-gray;
  }

.watermark {
    position: fixed; top: 50%; left: 50%;

    transform: translate(-50%, -50%) rotate(-45deg);
    
    z-index: -1; // z-index: 1000; // controls position front to back of water mark (1000 places above everything else)

    font-size: 100px; font-weight: bold; color: #ccc; opacity: 0.5;
}
